/** @format */

:root {
  --poppin-font: "Poppins";
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-small: 12px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--poppin-font) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
