/** @format */

:root {
  --poppin-font: "Poppins";
  --medium-font : 
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--poppin-font) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

