/** @format */

@media (max-width: 768px) {
  .Login-page .login-page-container {
    min-width: 100%;
    max-width: 100%;
  }
  .Login-page .login-page-container .logo {
    max-width: 60px;
  }
  .Login-page .login-page-container .heading,
  .Login-page .login-page-container .custome-form .input-div p {
    font-size: var(--font-size-small);
  }
}
