/** @format */

.Login-page {
  padding: 20px;
  background-color: var(--root-bg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-page .login-page-container {
  background-color: #fff;
  min-width: 450px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Login-page .login-page-container .logo {
  max-width: 80px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: auto;
}
.Login-page .login-page-container .heading {
  margin: 0;
  font-size: var(--font-size-base);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Login-page .login-page-container .custome-form .input-div {
  margin-top: 20px;
}
.Login-page .login-page-container .custome-form .input-div p {
  margin: 0;
  font-size: var(--font-size-base);
}

.Login-page .login-page-container .custome-form .input-div .field-div {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
}
.Login-page .login-page-container .custome-form .input-div .field-div input {
  padding: 0px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  font-size: var(--font-size-small);
}

.Login-page .login-page-container .custome-form .input-div .field-div .icon {
  width: 40px;
  height: 40px;
  background-color: #1d1e1e;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

.Login-page .login-page-container .custome-form .input-div .field-div .icon i {
  color: #fff;
  font-size: var(--font-size-small);
}

.Login-page .login-page-container .custome-form .forget-password {
  color: #1e2772;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}
.Login-page .login-page-container .custome-form .log-in-btn {
  width: 100%;
  background-color: #0484b3;
  border: 1px solid #0484b3;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: var(--font-size-base);
}

.Login-page .login-page-container .custome-form .new-account {
  width: 100%;
  text-align: center;
  color: #6c6c6c;
  font-size: var(--font-size-medium);
}

.Login-page .login-page-container .custome-form .new-account span {
  color: #367aff;
  cursor: pointer;
}
.Login-page .login-page-container .custome-form .new-account span a {
  text-decoration: none;
  columns: inherit;
}
.Login-page .login-page-container .custome-form .checkbox-input {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 20px;
  font-size: var(--font-size-small);
  color: #0484b3;
  align-items: center;
}

.Login-page .login-page-container .custome-form .checkbox-input input {
  width: 15px;
  height: 15px;
  border: 1px solid #0484b3;
  accent-color: #0484b3;
}

.Login-page .login-page-container .back-button {
  border: none;
  background-color: transparent;
  font-size: var(--font-size-medium);
}

.otp-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
}

.otp-input input {
  width: 60px;
  height: 60px;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  outline: none;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: var(--font-size-base);
  font-weight: 600;
}

.layout-wrapper {
  background-color: var(--root-bg);
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}
